@import url( 'https://fonts.googleapis.com/css?family=Jura');

body {
    background: rgb(195,255,176);
    background: linear-gradient(90deg, rgba(195,255,176,0.763725473099396) 0%, rgba(16,76,110,1) 100%);
    font-family: 'Jura', sans-serif;
    // font-weight: bold;
}

.spin {
    animation: App-logo-spin infinite 20s linear;
}

.App-header {
    background-color: #222;
    height: 15%;
    padding: 2%;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
