@import url( 'https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Faster+One');

body {
    font-family: 'Jura', sans-serif;
}

.brand{
    font-family: 'Faster One', cursive;
}


.border-radius-4{
    border-radius: 25px;
}
.border-radius-3{
    border-radius: 50px;
}
.border-radius-2{
    border-radius: 75px;
}
.border-radius-1{
    border-radius: 100px;
}


.minHeight-100{
    min-height: 100vh;
}
.minHeight-75{
    min-height: 75vh;
}
.minHeight-50{
    min-height: 50vh;
}
.minHeight-25{
    min-height: 25vh;
}