img{
    margin: 30px 5px 10px 0;
    border: solid white;
    border-radius: 10%;
    width: 40%;
    height: auto;
    transition: width 0.5s;
}

img:hover{
    width: 50%;
}

h2{
    opacity: 0.8;
}